PCT/ReverseString.exe
PCT/ReverseString.o
PCT/Reverse number.exe
PCT/Reverse number.o
PCT/Dearrangement.exe
PCT/Dearrangement.o
PCT/b p n.exe
PCT/b p n.o
PCT/combination.exe
PCT/combination.o
PCT/Cube root.exe
PCT/Cube root.o
